.item_button {
  margin: auto;
  border-radius: 10px;
  cursor: pointer;
}

#inputTester {
  float: left;
}

#testResults {
  float: left;
}

.testCase {
  float: left;
  margin-left: 15px;
}

.test_passed_message {
  margin-left: 15px;
}

.test_failed_message {
  margin-left: 15px;
}

#testResults{
    text-align: center;
}
